@import "common-components/normalize";
//@import "common-components/fonts";
@import "common-components/animations";
@import "lib-components/css-hacks";
@import "../fonts/icomoon/style.css";
 
//------variables
$main-color: #ff5722; 
$text-color: #dedede;
$title-color: #fff;
$second-text-color: #656565;
$bg-color: #2d3437;

body {
	//font-family: 'montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: $text-color;
	background-color: $bg-color;
	@media(max-width: 767px){
		font-size: 14px;
	}
}
h1, .h1{
	//font-family: 'montserrat', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: $title-color;
	font-size: 2.25em;
	line-height: 1.5;
	text-transform: uppercase;
	margin: 1.25em 0 0.5em;
	text-align: center;
	width: 100%;
	@media(max-width: 1199px){
		margin: 0.5em 0 0.3em;
	}
	@media(max-width: 991px){ 
		font-size: 2em;
	}
	@media(max-width: 767px){ 
		font-size: 1.5em;
	}

}
h2, .h2{
	//font-family: 'montserrat', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: $title-color;
	font-size: 24px;
	line-height: 1.5;
}
h3, .h3{
	//font-family: 'montserrat', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: $title-color;
	font-size: 18px;
	line-height: 1.5;
	white-space: normal;
}
p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.5;
	margin: 1em 0;
}
.fz-mega{
	font-size: 1.5em;
}
.main-color{
	color: $main-color;
}
label{
	cursor: pointer;
}
.max-767{
	display: none;
	@media(max-width: 767px), (max-height: 460px){
		display: block;
	}
}
.max-991{
	display: none;
	@media(max-width: 991px), (max-height: 460px){
		display: block;
	}
}
.icomoon{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.nowrap{
	white-space: nowrap;
}
.overflow-hidden {
	overflow: hidden;
}
.clearfix{
	clear: both;
}
.btn{
	font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid $main-color;
	padding: 15px 20px;
	outline: none;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    &:after {
	    content: '';
	    position: absolute;
	    z-index: -1;
	    transition: all 0.5s;
	    width: 105%;
	    height: 0;
	    top: 50%;
	    left: 50%;
	    background: $text-color;
	    opacity: 0;
	    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	    transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
	&:hover,
	&:active {
		color: $main-color;
		&:after{
			height: 260%;
    		opacity: 1;
		}
	}
	input{
		color: inherit;
	    font-size: inherit;
	    background: transparent;
	    text-transform: inherit;
	    width: 100%;
	    height: 100%;
	    display: block;
	    padding: 15px 20px;
	}
}
.dropdown{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	&__wrap{
		padding: 5px 15px;
		width: 70px;
		display: flex;
		align-items: center;
		cursor: pointer;
		box-shadow: 0 0 0 0px #fff;
		transition: all 0.5s;
		&:hover,
		.dropdown-open &{
			box-shadow: 0 0 0 1px #fff;
		}
	}
	&__btn{
		margin-left: 10px;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		.icon-down{
			transform: rotate(0deg);
			transition: all 0.5s;
		}
	}
	&__items{
		max-height: 0px;
		overflow: hidden;
		position: absolute;
		top: calc(100% - 25px);
		left: 0;
		width: calc(100% + 2px);
    	margin-left: -1px;
    	background: $bg-color;
    	@media(max-width: 767px){
    		top: calc(100% - 16px);
    		top: 100%;
    	}
    	@media(max-width: 576px){
    		top: 100%;
    	}
	}
	&__item{
		box-shadow: 0 0 0 1px #fff;
		cursor: pointer;
		display: block;
		padding: 5px 15px;
	}
	&-open{
		.dropdown__items{
		  	max-height: 1000px;
		  	padding: 1px;
		}
		.dropdown__btn{
			.icon-down{
	 	 		transform: rotate(180deg);
	 	 	}
		}
	} 
}
.lang-item{
	box-shadow: 0 0 0 1px #fff;
	cursor: pointer;
	display: block;
}
.lang-item a{
	width: 100%;
    height: 100%;
    display: inline-block;
    padding: 5px 15px;
}
//===lines===
	@media(min-width: 992px) and (min-height: 725px){
		.fp-viewing-aboutUs,
		.fp-viewing-mainPage {
			.line-v1{
		    	display: none;
		    }
		    .line-v2{
				left: 54.25%;
			}
		    .line-v3{
				left: 64.65%;
			}
		    .line-v4{
				left: 72.55%;
			}
			.line-v5{
				left: 80.65%;
			}
		    .line-v6{
				left: 86.3%;
			}
		    .line-v7{
				right: 6.6%;
			}	
		    .line-v8{
		    	left: 0;
		    }
		    .line-v9,
		    .line-v10,
		    .line-v11,
		    .line-v12,
		    .line-v13{
		    	display: none;
		    }
		}


		.fp-viewing-ourLocation {
			.line-v1{
				left: 13%;
			}
			.line-v2{
				left: 22%;
			}
			.line-v3{
				left: 27%;
			}
			.line-v4{
				left: 35%;
			}
			.line-v5{
				left: 73%;
			}
			.line-v6{
				left: 82%;
			}
			.line-v7{
				left: 57%;
			}
			.lline-v8{
				left: 58.33%;
			}	
			.line-v9,
		    .line-v10,
		    .line-v11,
		    .line-v12,
		    .line-v13{
		    	display: none;
		    }
		}

		.fp-viewing-ourServices .line-v1,
		.fp-viewing-ourServices .line-v2,
		.fp-viewing-ourServices .line-v3,
		.fp-viewing-ourServices .line-v4,
		.fp-viewing-ourServices .line-v5,
		.fp-viewing-ourServices .line-v6,
		.fp-viewing-ourServices .line-v7{
			display: none;
		}
		.fp-viewing-ourServices .line-v8{
			left: -15px;
		}
		.fp-viewing-ourServices .line-v9{
			left: calc(33.3% - 15px);
		}
		.fp-viewing-ourServices .line-v10{
			left: calc(33.3% + 15px);
		}
		.fp-viewing-ourServices .line-v11{
			left: calc(66.6% - 15px);
		}
		.fp-viewing-ourServices .line-v12{
			left: calc(66.6% + 15px);
		}
		.fp-viewing-ourServices .line-v13{
			right: -15px;
		}
		
		.fp-viewing-ourPortfolio .line-v1,
		.fp-viewing-ourPortfolio .line-v2,
		.fp-viewing-ourPortfolio .line-v3,
		.fp-viewing-ourPortfolio .line-v4,
		.fp-viewing-ourPortfolio .line-v5,
		.fp-viewing-ourPortfolio .line-v6,
		.fp-viewing-ourPortfolio .line-v7{
			display: none;
		}
		.fp-viewing-ourPortfolio .line-v8{
			left: -30px;
		}
		.fp-viewing-ourPortfolio .line-v9{
			display: none;
		}
		.fp-viewing-ourPortfolio .line-v10{
			left: 50%;
		}
		.fp-viewing-ourPortfolio .line-v11{
			display: none;
		}
		.fp-viewing-ourPortfolio .line-v12{
			display: none;
		}
		.fp-viewing-ourPortfolio .line-v13{
			right: -30px;
		}

		.fp-viewing-ourTeam .line-v1,
		.fp-viewing-ourTeam .line-v2,
		.fp-viewing-ourTeam .line-v3,
		.fp-viewing-ourTeam .line-v4,
		.fp-viewing-ourTeam .line-v5,
		.fp-viewing-ourTeam .line-v6,
		.fp-viewing-ourTeam .line-v7{
			display: none;
		}
		.fp-viewing-ourTeam  .line-v8{
			left: -15px;
		}
		.fp-viewing-ourTeam  .line-v9{
			left: 14%;
		}
		.fp-viewing-ourTeam  .line-v10{
			left: 40%;
		}
		.fp-viewing-ourTeam  .line-v11{
			right: 40%;
		}
		.fp-viewing-ourTeam  .line-v12{
			right: 14%;
		}
		.fp-viewing-ourTeam  .line-v13{
			right: -15px;
		}
	
	

		.fp-viewing-ourContacts .line-v1{
			left: 17%;
		}
		.fp-viewing-ourContacts .line-v2{
			left: 45%;
			@media (max-width: 1199px){
				left: calc(40% + 15px);
			}
		}
		.fp-viewing-ourContacts .line-v3{
			left: calc(45% + 30px);
			@media (max-width: 1199px){
				left: calc(40% + 45px);
			}
		}
		.fp-viewing-ourContacts .line-v4{
			left: calc(45% + 355px);
			@media (max-width: 1199px){
				left:calc(40% + 260px);
			}
		}
		.fp-viewing-ourContacts .line-v5{
			left: calc(45% + 385px);
			@media (max-width: 1199px){
				left:calc(40% + 290px);
			}

		}
		.fp-viewing-ourContacts .line-v6{
			right: 80px;
			@media (max-width: 1439px) {
				display: none;
			}
		}
		.fp-viewing-ourContacts .line-v7,
		.fp-viewing-ourContacts  .line-v8,
		.fp-viewing-ourContacts  .line-v9,
		.fp-viewing-ourContacts  .line-v10,
		.fp-viewing-ourContacts  .line-v11,
		.fp-viewing-ourContacts  .line-v12,
		.fp-viewing-ourContacts  .line-v13{
			display: none;
		}
	}
//===lines===
#fullpage{
	z-index: 7;
	@media(max-width: 991px){
		padding-top: 60px;
	}
	// @media(max-width: 767px){
	// 	padding-top: 60px;
	// }
}
.section{
	padding-top: 84px;
	@media(max-width: 991px){
		padding-top: 4em;
		height: auto !important;
	}
}
.main{
	@media(max-width: 991px){
		padding-top: 0;
		height: calc(100vh - 84px) !important;
   		max-height: 100vw;
	}
	@media(max-width: 767px){
		height: calc(100vh - 60px) !important;
	}
	&.showup-anim {
		.slick-active .main__title {
			opacity: 1;
			&:after,
			&:before{
				transform: scale(1,1);
			}
		}
	}
	&__slider{
		width: 100%;
		height: 100%;
		padding-bottom: 50px;
		.slick-list,
		.slick-track{
			height: 100%;
		}
		.slick-dots{
			width: 100%;
			justify-content: center;
			margin-top: 10px;
		}
	}
	&__slide{
		&:before {
		    content: '';
		    width: 100%;
		    //height: calc(100% + 2px);
		    height: 40%;
		    position: absolute;
		    top: -1px;
		    left: 0;
		    //background: linear-gradient(0deg,rgb(45, 52, 55) 0,rgba(45, 52, 55, 0) 3%,rgba(45, 52, 55, 0.85) 92%,rgb(45, 52, 55) 99%);
		    z-index: 9;
		    background: linear-gradient(0deg,rgba(45,52,55,0) 2%,rgba(45,52,55,.85) 94%,#2d3437 99%);
		    @media(max-width: 575px){
		    	background: linear-gradient(0deg,rgba(45,52,55,0) 0,rgba(45,52,55,.45) 15%, rgba(45,52,55,.85) 70%,#2d3437 99%);
		    }
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__desc{
		position: absolute;
	    top: 11%;
	    left: 0;
	    width: 100%;
	    // .full__container{
	    // 	justify-content: flex-end;
	    // }
	}
	&__title{
		opacity: 0;
		transition: opacity 1.5s 0.5s;
		font-family: Montserrat,sans-serif;
	    font-weight: 500;
	    font-size: 2.25em;
	    line-height: 1.5;
	    text-transform: uppercase;
		display: inline;
	    text-align: left;
	    z-index: 10;
	    @media(max-width: 991px){ 
			font-size: 2em;
		}
		@media(max-width: 767px){ 
			font-size: 1.5em;
		}
	    &:before,
	    &:after {
	    	transition: all 1.3s 1.2s;
		    content: "";
		    width: 100%;
		    height: 3px;
		    background: #ff5722;
		    position: absolute;
		    left: 0;
		    transform: scale(0,1);
	    }
	    &:before {
		    top: -13px;
		}
	    &:after {
		    bottom: -13px;
		}
	}
	.fp-tableCell{
		display: block;
	}
}
.first{
	//opacity: 0;
	//transform: translateY(-84px);
	transition: all 1s;
	background-image: url('../img/first-bg1.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 99% 100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    position: relative;
    @media(max-width: 991px){
     	background-image: url('../img/first-bg1-lg.png');
     	//padding-top: 0 !important;
     	//margin-bottom: -84px;
    }
    @media(max-width: 767px){
    	background-image: url('../img/first-bg1-md.png');
    }
    @media(max-width: 576px){
    	background-size: 150%;
		background-position: 100px 100%;
    }
    &__social{
    	display: inline-block;
		position: absolute;
		bottom: 40px;
		left: 100px;
    	max-width: calc(100% - 100px);
		@media(max-width: 991px){
			bottom: 0px;
			left: 50px;
			position: relative;

		}
		@media(max-width: 576px){
			left: 15px;
		}
	}
}
.social{
	&__btn{
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 1px solid rgba(9,163,74,0.1);
		text-align: center;
		line-height: 50px;
		color: #fff;
		margin-right: 10px;
		font-size: 25px;
		transition: all 0.5s;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			border-color: $main-color;
			background:  $main-color;
		}
	}

}
.full{
	&__container{
    	width: calc(100% - 30px);
    	margin: 0 auto;
    	display: flex;    	
    	@media (min-width: 576px){
    		min-width: 540px;
    		width: calc(100% - 100px);
    	}
    	@media (min-width: 768px){
    		min-width: 720px;
       	}
    	@media (min-width: 992px){
    		min-width: 960px;
    		width: calc(100% - 200px);
    	}
    	@media (min-width: 1200px){
    		min-width: 1170px;
    	}
    }
}
.header{
	background-color: $bg-color;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	//border-bottom: 1px solid rgba(255,255,255,0.1);
	&__container{
		height: 60px;
		justify-content: space-between;
		@media (min-width: 992px){
    		height: 83px;
    	}
	}
	&__bg{

	}
	.navbar{
		transform: translateX(200%);
		transition: all 1s 0.3s;
	}
	.logo{
		transform: rotate(-32deg) translate(70px,-160px);
		transition: all 0.7s;
		height: 100%;
	}
	&-anim{
		.navbar{
			transform:  translateX(0);
		}
		.logo{
			transform: rotate(0deg) translate(0px, 0px);
		}
	}
}
.navbar {
	display: flex;
	margin-left: auto;
}
.menu{
	&__btn{
		cursor: pointer;
		display: none;
		@media(max-width: 991px){
			display: block;
			&-active{
				.menu__line:nth-child(2){
				  opacity: 0;
				}
				.menu__line{
					transform: translateY(13px) rotate(45deg);
				}
				.menu__line:nth-child(3){
				  	transform: translateY(-13px) rotate(-45deg);
				}
				& + .nav{
					transform: none;
				}
			}
		}
	}
	&__line{
		width: 45px;
	    height: 3px;
	    background-color: #fdfdfd;
	    display: block;
	    margin: 10px auto;
	    border-radius: 2px;
		transition: all 0.3s ease-in-out;
	}
}
.nav{
	display: flex;
	@media(max-width: 991px){
		transform: translateY(-50%) scale(1, 0);
		position: absolute;
	    top: 100%;
	    right: -50px;
	    flex-direction: column;
	    justify-content: space-around;
	    padding-bottom: 60px;
	    padding-top: 20px;
	    width: calc(100vw + 50px);
	    height: 100vh;
	   // width: 100vw;
	    height: calc(100vh - 60px);
	    background-color: $bg-color;	    
	    overflow: hidden;
	    transition: all 0.8s ease-out;
	}
	&__item{
		margin-left: 25px;
		@media(max-width: 1199px){
			margin-left: 20px;
		}
		@media(max-width: 991px){
			margin-left: 14px;
			font-size: 15px;
		}
		@media(max-width: 991px){
    		margin: 0 50px;
    		margin-bottom: 0.5em;
    		display: inline-flex;
    		justify-content: flex-end;
    	}
	}
	&__link{
		color: #dddddd;
		text-transform: uppercase;
		height: 100%;
		display: flex;
    	align-items: center;
    	position: relative;
    	cursor: pointer;
    	&:after{
    		content: '';
    		width: 100%;
    		height: 3px;
    		background-color: $main-color;
    		transition: all 0.3s;
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		transform: scale(0,1);
    	}
    	.active &,
		&:hover{
			color: #fff;
			&:after{
				transform: scale(1,1);
			}
		}
		@media(max-width: 991px){
			height: auto;
		}
	}
}
.lang__item{

	@media(max-width: 991px){
		//margin-bottom: 50px;
		margin-top: 15%;
	}
	@media(max-height: 460px){
		margin-top: 10px;
		//margin-bottom: 40px;
	}
	@media(max-width: 991px) and (min-height: 700px){
		margin-top: auto;
	}
}
.logo{
	display: flex;
    align-items: flex-end;
    //font-size: 60px;
    svg{
    	margin-bottom: -7px;
    }
    @media(max-width: 767px){
    	//font-size: 40px;
    }
    &__img{
			height: 86%;
		}
	&__name {
		font-size: 49px;
    	margin-bottom: 7px;
	    margin-left: 10px;
	    font-weight: 400;
	    line-height: 1em;
	    @media (max-width: 991px){
	    	font-size: 37px;
    		margin-bottom: 3px;
    		margin-left: 5px;
	    }
	}
}
.work{
	height: calc(100vh - 84px);
	display: flex;
    flex-direction: column;
	&__map{
		height: 100%;
		background-color: #fff;
	}
}
#services{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 100px;
	@media(max-width: 991px){
		padding-bottom: 0;
	}
}
.services{
	&__row{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 15px;
	}
	&__block{
		width: 33.33%;
		margin-bottom: 1rem;
		position: relative;
		cursor: pointer;
		padding: 0 15px;
		transition: all 0.5s;
		@media(max-width: 991px){
			width: 50%;
		}
		@media(max-width: 576px){
			width: 100%;
		}
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.1s;
			background-color: transparent;
			width: calc(100% + 30px);
    		left: -15px;
		}
		&:hover{
			transform: translateY(-70px);
			z-index: 9;
			&:before{
				background-color: #3c4447;
			}
			.services__name{
				color: $main-color;
			}
			.services__text{
				transform: none;
				color: #ddd;
			}
		}
	}
	&__name{
		font-family: 'Montserrat', sans-serif;
		font-size: 1.15rem;
		color: #fff;
		text-align: center;
		margin-bottom: 1rem;
		transition: all 0.5s;
	}
	&__icon{
		margin: 0 auto;
		font-size: 55px;
		color: $title-color;
		display: flex;
	    justify-content: center;
	    margin: 1rem 0;
	}
	&__text{
		text-align: center;
		font-family: 'Roboto', sans-serif;
		color: transparent;
		margin-bottom: 1rem;
	    transform: translateY(-50%) scale(1, 0);
	    transition: transform 1s, color 0.7s 0.5s;
	    background: #3c4447;
	    z-index: 2;
	    width: calc(100% + 30px);
	    top: 92%;
	    left: -15px;
	    padding: 0 15px 30px;
	    position: absolute;
	    @media(max-height: 760px){
	    	font-size: 14px;
	    }
	}
}
#fp-nav{
	z-index: 9;
	right: 0 !important;
	@media(max-width: 1250px){
		right: -15px !important;
	}
	@media(max-width: 1199px){
		right: 0px !important;
	}
	@media(max-width: 1017px){
		right: -8px !important;
	}
	ul{
		right: 0;
		left: unset;
		position: unset;
		transform: unset;
		li{
			height: auto;
		    width: auto;
		    margin: 0;
			a{
				span{
					width: 20px;
					height: 2px;
					background-color: #5a6062;
					transition: all 0.5s;
					border-radius: 0;
					right: 0;
					left: unset;
					display: block;
					position: unset;
					margin: 0 0 17px auto;
					@media(max-width: 1060px){
						width: 15px;
					}
				}
				&.active{
					span{
						width: 40px;
						background-color: $main-color;
						height: 2px;
						border-radius: 0;
						margin: 0 0 17px auto;
						@media(max-width: 1250px){
							width: 25px;
						}
						@media(max-width: 1199px){
							width: 40px;
						}
						@media(max-width: 1060px){
							width: 25px;
						}
					}
				}				
			}
			&:hover{
				 a span{
				 	width: 20px;
					height: 2px;
				    margin: 0 0 17px auto;
				}
				a.active span{
					width: 40px;
					background-color: $main-color;
					height: 2px;
					border-radius: 0;
					margin: 0 0 17px auto;
				}
			}
		} 
	}
}
.slider__nav{
	display: inline-block;
	padding: 0 30px;
	position: relative;
	margin: 0 auto;
}
.slick-arrow{
	position: absolute;
	top: -1px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	@media(max-width: 475px){
			top: -7px;
		}
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.slick-dots{
	display: inline-flex;
	li{
		padding: 12px;
		line-height: 4px;
		cursor: pointer;
		@media(max-width: 475px){
			padding: 7px;
		}
		button {
			color: transparent;
			width: 4px;
			height: 4px;
			background-color: rgba(255,255,255,0.2);
			transition: all 0.5s;
		}
		&.slick-active{
			button{
				box-shadow: 0 0 0 2px $main-color;
				background-color: transparent;
			}
		}
	}
}
.portfolio{
	display: flex;
    justify-content: center;
    flex-direction: column;
}
#portfolioSlider{
	overflow: hidden;
	height: auto;
	padding-bottom: 1em;
	//height: 30vw;
	// @media(max-width: 1199px){
	// 	height: 35vw;
	// }
	// @media(max-width: 991px){
	// 	height: 40vw;
	// }
	// @media(max-width: 767px){
	// 	height: 50vw;
	// }
	@media(max-width: 576px){
		//height: auto;
		margin-bottom: 1em;
	}
	.slick-list{
		margin: 0 -25px;
		@media(max-width: 576px){
			margin: 0;
		}
	}
	.slider__image{
		width: 100%;
	    padding-top: 61%;
	    display: block;
	    position: relative;

	}
	.slider__img{
		width: 100%; 
    	height: 100%;
    	position: absolute;
	    top: 0;
	    left: 0;
	    object-fit: cover;
	    transition: all 0.5s;
	}
	.slider__item{
		&:focus{
			outline: none;
		}
	}
	.slider__wrap{ 
		padding: 20px 40px;
		transition: all 0.5s;
		@media(max-width: 991px){
			padding: 20px 20px;
		}
		@media(max-width: 767px){
			padding: 10px 20px;
		}
		@media(max-width: 576px){
			padding: 0;
		}
	}

	// .slick-center .slider__wrap{
	// 	//padding: 0;
	// 	transform: scale(1.125);
	// }
	.slick-center .slider__img{
		//padding: 0;
		transform: scale(1.15);
		z-index: 2;
		@media(max-width: 575px){
			transform: none;
		}
	}
	.slider__desc{
		margin-top: 15px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: #dddddd;
		opacity: 0.2;
		transition: all 0.5s;
	}
	.slick-center .slider__desc{
		opacity: 1;
		white-space: normal;
		margin-top: 10%;
	}
}
.team{
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__row{
		margin: 0 -15px;
		@media(max-width: 576px){
			margin: 0;
		}	
	}
	&__block{
		width: 100%;
		margin-bottom: 30px;
		display: flex;
		//cursor: pointer;
	}
	&__img{
		width: 50%;
	    padding-top: 50%;
	    height: 0;
	    margin-right: 15px;
	    filter: grayscale(100%);
	    position: relative;
	    transition: all .5s;
	    display: block;
	    overflow: hidden;
	    @media(max-width: 767px){
	    	max-width: 200px;
	    	padding-top: 40%;
	    	width: 40%;
	    }
	    &:after{ 
	    	content: '';
	    	display: block;
	    	width: 100%;
	    	height: 4px;
	    	background-color: $main-color;
	    	opacity: 0;
	    	transition: all 0.5s;
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	.team__block:hover & {
				opacity: 1;
	    	}
	    }
	    .team__block:hover & {
	    	filter: none;
	    }
	    img{
	    	width: 100%;
		    height: 100%;
		    object-fit: cover;
		    position: absolute;
		    top: 0;
		    left: 0;
	    }
	}
	&__text{
		width: 50%;
		padding-left: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media(max-width: 767px){
			padding-left: 0;
		}
	}
	&__name{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 18px;
		color: #fff;
		margin-bottom: 1em;
		margin-top: auto;
		transition: all 0.5s;
		@media(max-width: 767px){
			font-size: 16px;
		}
		.team__block:hover & {
			color: $main-color;
		}
	}
	&__prof{ 
		font-family: 'Roboto', sans-serif;
		opacity: 0.5;
		margin-bottom: auto;
	}
}
#contactsMap{
	width: 100%;
	height: 100%;
}
.contacts{
	margin-left: 85px;
	width: 65%;
	padding-right: 100px;
		@media(max-width: 1370px){
			padding-right: calc(50vw - 585px);
		}
		@media(max-width: 1199px){
			padding-right: 100px; 
			margin-left: 60px;
		}
		@media(max-width: 1160px){
			padding-right: calc(50vw - 480px); 
		}
		@media(max-width: 991px){
			padding-right: 50px; 
		}
		@media(max-width: 820px){
			padding-right: calc(50vw - 360px);
		}
		@media(max-width: 767px){
			width: 540px;
		    order: 1;
		    padding: 0;
		    margin: 0 auto;
		}
	&__screen{
		display: flex;
		height: calc(100% - 80px);
		@media(max-width: 991px){
			height: 100%;
		}
		@media(max-height: 724px){
			height: 100%;
		}
		@media(max-width: 767px){
			flex-wrap: wrap;
			height: auto;
		}
	}
	&__map{
		width: 45%;
		height: 100%;
		flex-shrink: 0;
		@media(max-width: 1199px){
			width: 40%;
		}
		@media(max-width: 767px){
			width: 100%;
			order: 2;
			height: 260px;
		}
	}
	&__content{
		display: flex;
		@media(max-width: 991px){
			flex-wrap: wrap;
		}
	}
	&__info{
		width: 285px;
		flex-shrink: 0;
		padding-right: 15px;
		@media (max-width: 1199px){
			width: 220px;
		}
		@media(max-width: 767px){
			width: 315px;
		}
		@media(max-width: 767px){
			width: 100%;
			padding: 0 15px;
			margin-bottom: 2em;
		}
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 1.125rem;
		color: $title-color;
		margin-bottom: 1em;
	}
	&__icon{
		position: relative;
		margin-bottom: 1rem;
		@media(max-width: 767px){
			padding-left: 30px;
		}
		&:before{
			@extend .icomoon;
			position: absolute;
			left: -40px;
			top: 5px;
			color: $main-color;
			font-size: 18px;
			@media(max-width: 1160px){
				line-height: -30px;
			}
			@media(max-width: 767px){
				left: 0;
			}
		}
	}
	&__phone{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 1.125rem;
		color: $title-color;
		&:before{
			content: '\e914';
		}
	}
	&__email{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #ddd;
		&:before{
			content: '\e915';
			font-size: 14px;
		}
	}
	&__adress{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #ddd;
		&:before{
			content: '\e913';
		}
	}
	&__form{
		width: 100%;
		padding-left: 15px;
		@media(max-width: 576px){
			padding-right: 15px;
		}
	}
}
//input-hoshi style
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px $bg-color !important; /* Цвет фона */
    -webkit-text-fill-color: #dddddd !important; /* цвет текста */
    color: #dddddd !important; /* цвет текста */
}
.input-hoshi {
  position: relative;
  margin-bottom: 1.25rem;
  input {
    display: inline-block;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #434a4c;
    color: #dddddd;
    font-size: 1rem;
    margin-top: 0em;
    padding-bottom: 0.6em;
    padding-top: 1.4em;
    width: 100%;
    background-color: transparent;
    &:focus {
      border-bottom: 2px solid $main-color;
      &+ label {
        bottom: 2.9em;
	    color: $main-color;
	    font-size: 0.875em;
	    font-weight: bold;
      }
    }
    &.focus {
       &+ label {
        bottom: 2.9em;
      	color: $main-color;
      	font-size: 0.875em;
        font-weight: bold;
      }
    }
    &.error {
      border-bottom: 2px solid $main-color;
    }
  }
  label {
    color: #999;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    bottom: 0.6em;
    pointer-events: none;
    transition: all 0.3s;
    font-size: 1em;
    width: 90%;
    width: calc(100% - 1.875rem);
  }
  &.focus {
    label {
      bottom: 2.6em;
      color: $main-color;
      font-size: 0.875em;
      font-weight: bold;
    }
  }
  .error__mess {
    display: none;
    position: absolute;
    bottom: -1.2em;;
    left: 0;
    color: #e30016;
  }
}
.footer{
	border-top: 1px solid rgba(255,255,255,0.1);
	&__row{
		display: flex;
		justify-content: space-between;
		width: 100%;
    	align-items: center;
	}
}
.copyright{
	color: #dddddd;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125rem;
	text-transform: uppercase;
	@media(max-width: 576px){
		font-size: 0.6rem;
	}
}
.lightboxOverlay {
	z-index: 9;
}
.lightbox{
	z-index: 10;
}